*{
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 40px;
    text-align: center;
    color: black;
}
h2 {
    font-size: 20px;
    color: black;
}
.home .card{
    color: black;
}

.refresh .cool , .cool2{
    color: white;
    margin-top: 25px;
}
.refresh .description{
    color:black;
    font-size: 18px;
    text-align:center;
}
 .refresh .content{
        width: 960px;
        margin: auto;
 }
.doggy{
    display: block;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    max-width:40%
}
footer{
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }