*{
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 60px;
    text-align: center;
    color: black;
}
h2 {
    font-size: 20px;
    color: black;
}
.home{
    background-color: #b6cae9;
}
.home .btn{
    color:black;
}
.home .card-header{
    color: black;
    background-color: #b6cae9;
}
.home .jumbotron{
    background-color:#dcffe6;
}
.home .charset{
    margin: 5px 5px;
}
.charset .li{
    margin: 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.og {
    background-color: #b6cae9;
    text-align: center;
}
.refresh .cool{
    color: white;
    margin-top: 25px;
    font-size: 6vw;
}
.refresh .cool2{
    color: white;
    margin-top: 25px;
}
.refresh .description{
    color:black;
    font-size: 18px;
    text-align:center;
}

  .doggy{
    display: block;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%; 
} 
.doggy2{
    display: block;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
footer{
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
}

.img-debugger {
    border-style: solid;
    width: 60%;
    height: 50%;
}

  .doggy2{
    display: none;
 }
 
 @media only screen and (max-width: 700px){ 
    .doggy{
      display: none;
    }
 
    .doggy2{
      display: block;
    }
 }