*{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
    text-align: center;
    color: black;
}
.mouseover{
    color: black;
}
h2{
    font-size: 20px;
    color: black;
    text-align: center;
}
.card{
    border: 2px solid;
}
.home{
    background-color: #b6cae9;
}
.home .btn{
    color:black;
}
.home .card-header{
    color: black;
    background-color: #b6cae9;
}
.home .jumbotron{
    background-color:#dcffe6;
}
.lead{
    text-align: center;
}
.phone{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    border: solid 2px black;
    border-radius: 5%;
}
.home .charset{
    margin: 5px 5px;
}
.charset .li{
    margin: 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.meta-name{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.meta-charset{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.meta-refresh{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.meta-content{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.og {
    background-color: #b6cae9;
    text-align: center;
}
.ogTypes{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    border: 3px double #000;
    padding: 20px;
}
.content{
    display: inline-block;
    justify-content: center;
    max-width: 900px;

}
.og-dog{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
.strikethrough{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
.refresh .myHeader{
    color: white;
    margin-top: 25px;
}
.refresh .myFooter{
    color: white;
    margin-top: 25px;
}
.refresh .description{
    color:black;
    font-size: 18px;
    text-align:center;
}
.doggy{
    display: block;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
} 
.doggy2{
    display: block;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
footer{
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
}
.img-artiklar {
    border-style: solid;
    width: 60%;
    height: 50%;
}

/*.figcaption {
    width: 900px;
    margin-right: 0px;
    margin-left: 160px;
}*/

.doggy2{
    display: none;
 }
 
 @media only screen and (max-width: 700px){ 
    .doggy{
      display: none;
    }
 
    .doggy2{
      display: block;
    }
 }

 @media only screen and (max-width: 700px){
     .meta-charset, .meta-content, .meta-name, .meta-refresh{
         display: none;
     }
 }
